#search {
	border: 2px solid #006fcf;
	border-radius: 5px;
	transition: all 0.3s;
	padding: 13px;
  display: block;
  width: calc(100% - 4px);
  font-size: 18px;
  font-weight: 600;
  color: #001c86;
	opacity: 1;
}

#search:focus {
  border-left: 12px solid #006fcf;
}

@media (max-width: 650px) {
.gouzoucherche img {
    display: none;
  }
}

.gouzoucherche img {
  position: absolute;
  z-index: 100;
  bottom: 10px;
  right: -15px;
}
