{%- macro snipet(item) -%}
  {% if item.slug %}
    {% set snipeturl = "/"+categoryUrl(item.slug) | trim %}
  {% else %}
    {% set snipeturl = item.url %}
  {% endif %}
<div class="snipet">
  <h2><a href="{{ snipeturl }}">{{ item.title or item.data.short or item.data.title }}</a></h2>
  <p>
    {% if item.data.image %}
      <a href="{{ snipeturl }} "class="thumb"><span>{% thumb item, 120 %}</span></a>
    {% endif %}
    {% if page.url === "/" %}
      {% if item.data.homedesc or item.data.description %}
        <a href="{{ snipeturl }}">{{ item.data.homedesc or item.data.description }}</a>
      {% endif %}
    {% else %}
      {% if item.description or item.data.description %}
        <a href="{{ snipeturl }}">{{ item.description or item.data.description }}</a>
      {% endif %}
    {% endif %}
  </p>
</div>
{%- endmacro -%}
