/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* box sizing reset */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
color_border = "FEFEAE";
color_bg = "FEFEAE";
title color_link = "006fcf";
color_text = "333333";
color_url = "001c86";
*/

html {
  height: 100%;  /* sticky footer */
}

body {
    margin: 0;
    font-family: Sans-Serif;
    font-size: 105%;
    background-color: #fefeae;
    color: #111111;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
    height: 100%;  /* sticky footer */
}

html, p, td, ul {
	color: #111111;
}

#access a { color: #FF5809; }
#access a:hover, #texte a:hover {  text-decoration:none; }
#access a:focus, #texte a:focus {  text-decoration:none;  background-color:#000;  color:#FFF; }
#access { display:none; }

body {
	background-image: url("/img/tete-2006.png");
	background-repeat: no-repeat;
}

/* header */

#titre {
    padding-left: 10px;
    height: 100px;
    margin: 0;
    color: white;
}

#titre .h1 {
    font-family: Devroye, Sans-Serif;
    font-size: 26px;
    font-weight: bold;
    padding: 20px 0 15px;
}

#titre .h2 {
    font-family: Devroye, Sans-Serif;
    font-size: 15px;
    margin:-5px 0 5px 0;
}

#titre a {
    text-decoration: none;
    color: white;
}

/* main content */

main {
  min-height: calc(100% - 190px); /* sticky footer */
  width: calc(65% - 30px);
  margin: 0 auto;
  padding: 10px 30px 90px; /* sticky footer */
  max-width: 840px;
}

@media (max-width: 840px) {
  main {
        max-width: 700px;
        padding: 10px 10px 90px; /* sticky footer */
        width: calc(100% - 30px);
    }
}

.button {
  border: 1px solid #001c86;
  display: inline-flex;
  border-radius: 14px;
  margin: 0.5em auto;
  width: fit-content;
  padding: 0 0.5em;
}

main .center {
    text-align: center;
}

main .left {
    text-align: left;
}

main .right {
    text-align: right;
}

main .fleft {
	padding: 8px;
	float: left;
  text-align: center;
}

main .fright {
	padding: 8px;
	float: right;
	text-align: center;
}

main p {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: .04em;
  padding: 12px 0;
}

main li {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: .04em;
}

main p b {
  font-weight: 700;
}

main h1 {
    font-family: Devroye, serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.1em;
    width: 100%;
    border-bottom: #001c86 dotted 1px;
    padding: 0;
    margin: 32px 0 12px;
    color: #001c86;
}

main h1::after {
  content: "";
  display: block;
  margin-top: 0;
}

main h2 {
    font-family: Devroye, serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    padding: 0;
    margin: 14px 0 12px;
    color: #006fd5;
    width: 100%;
}

main h3 {
    font-family: Devroye, serif;
    font-size: 20px;
    font-weight: 900;
    font-style: italic;
    line-height: 24px;
    padding: 0;
    margin: 14px 0 8px;
    color: #006fd5;
}

main h4 {
    font-family: Devroye, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    margin: 12px 0;
    color: #001c86;
}

main h5 {
    font-family: Devroye, serif;
    font-weight: normal;
    font-style: italic;
    font-size: 0.8em;
    line-height: 24px;
    width: 100%;
    margin: 12px 0;
    color: #001c86;

}

main hr {
  border: 0;
  border-bottom: #001c86 dotted 1px;
}

span.link,
a {
      color: #001c86;
      text-decoration: none;
}

a:visited {
    color: #001155;
    text-decoration: none;
}

span.link:hover,
a:hover {
      color: #0073d7;
      text-decoration: underline;
      cursor: pointer;
}

a.ext:link:after, a.ext:visited:after, a.ext:active:after {
   	content:url("/img/puce-url-out.png");
}

main img {
    margin: 8px;
    max-width: calc(100% - 16px);
    height: auto;
}

main img.left {
    float: left;
    margin-right: 15px;
}

main img.right {
    float: right;
    margin-left: 15px;
  }

main iframe {
    display: block;
    margin: 8px;
    max-width: 100%;
    aspect-ratio: 16/9;
}

main .cadrimage {
  margin: 5px 0;
	padding: 5px;
	border:1px dotted #006fd5;
}

main .cadrimage iframe,
main .cadrimage img {
    margin: 0 auto;
    max-width: 100%;
}

main .legende {
    font-style: italic;
    font-size: 14px;
    line-height: 18px;
    color: #006fd5;
}

main .legende a {
	color: #006fd5;
  text-decoration: underline;
}

main p.smaller {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  padding: 0 0 12px;
}

main li {
	text-align : justify;
	margin : 0 0 1em 2em;
	list-style-image : url("/img/puce-reunion.png");
}

main table.ligne {
    width: 500px;
    border-collapse: collapse;
}

main td.columns {
    border: 0;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}

main tr.rows {
    border: 0;
}

main td.ligne {
    border-bottom: #0073d7 dotted 2px;
}

main tr.ligne {
    border-left: #0073d7 dotted 2px;
    border-right: #0073d7 dotted 2px;
}

main tr.titre {
    color: #680e0e;
    text-decoration: none;
    font-weight: bold;
    border: #f7d25b solid 2px;
    background-color: #f7d25b;
}

main table img {
    float: none !important;
}

/* TODO: itemleft faceitemleft legende cadreimage */

main .note {
  font-size: 16px;
  line-height: 20px;
  font-style: italic;
  color: #666;
}

main .f14 {
  font-size: 14px;
  line-height: 20px;
}

main .f16 {
  font-size: 16px;
  line-height: 20px;
}

main p.articlebread {
  text-align: right;
  margin-top: 0;
}

main .bothside {
    display: flex;
    justify-content: space-around;
}
main .twocolumns {
  column-count: 2;
}

@media (max-width: 840px) {
  main .twocolumns {
    column-count: 1;
  }
}

main .twocolumns h3 {
    margin: 14px 0 0;
    break-inside: avoid;
    break-after: avoid;   /* work not with firefox */
}
main .twocolumns > h3 {
    margin: 0;
}

main .twocolumns p,
main .twocolumns h4,
main .twocolumns h5 {
    font-size: 17px;
    break-inside: avoid;
}

main .twocolumns p {
  text-align: left;
}

main .twocolumns h5 + p,
main .twocolumns p + h5,
main .twocolumns h3 + p {
  margin-top: 0;
  padding-top: 5px;
}

main .twocolumns h5 + h3 {
  margin-top: 34px;
}

main .lien {
  border-bottom: dotted #0073d7 1px;
  margin: 6px 0;
  min-height: 95px;
}

main .lien img {
  margin:0 8px 0 0;
  float:left;
  border: 1px solid #AAA;
}

main .lien img + p {
  margin: 0 0 0 130px;
}

main .lien .url {
  color: #339ff9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  display: inline-block;
}

/* HOME */

main p.suite {
  text-align: right;
  margin-top: -24px;
  padding-top: 0;
}

main p.suite a:hover {
  border-color: #006fd5;
}

main h3 a.button {
  padding: 8px;
  border-radius: 20px;
}

main h3 a.button:hover {
  border-color: #006fd5;
  text-decoration: none;
}

/* Clear floats after the columns on home */
.homerow:after {
  content: "";
  display: table;
  clear: both;
}

.homeimg {
  float: left;
  width: 150px;
  margin: 0 20px 0 0;
}

input:focus::placeholder {
	color: #d5e5f3;
	opacity: 1;
}

body > footer {  /* sticky footer */
  position: sticky;
  top: 100vh;
  margin-top: -90px;
  overflow: hidden;
  height: 90px;
}

footer {
  font-size: 90%;
  padding: 16px;
  border-top: dotted #0073d7 1px;
  text-align: center;
}

footer p {
    padding: 8px 0;
}

footer p.left {
    float: left;
    padding: 0;
    margin: -10px 10px 0;
    text-align: left;
    line-height: 20px;
}

.clear {
    clear: both;
}

.boutonfnac {
	display: inline-block;
	padding: 10px 50px 10px 12px;
	font-size: 14px;
	background-color: white;
	border: 1px solid black;
	border-radius: 7px;
	background-image: url( '/img/fnac.svg' );
	background-repeat: no-repeat;
	background-size: 41px;
	background-position: 105px 3px;
	color: #E7AD0F;
	font-weight: 700;
	line-height: 1em;
	letter-spacing: normal;
}
.boutonfnac.left {
	float: left;
	margin-right: 15px;
}

.boutonfnac.right {
    float: right;
    margin-left: 15px;
}
