{% extends 'base.njk' %}

{% set js %}
  {% include "includes/js/404email.js" %}
  {% include "../assets/js/search.js" %}
  {% include "../assets/js/elasticlunr.min.js" %}
{% endset %}

{% block head %}
  {% include "head.njk" %}
  {% set css %}
    {% include "includes/css/404.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
{% endblock %}


{% block main %}
<main>
    <h1>{{ title }}</h1>
    {% include "breadcrumb.njk" %}
    {{ content | safe }}
</main>
<script>{{ js | jsmin | safe }}</script>
{% endblock %}
