{# SEO: savoir ou on est pour changer les titres #}
{% set isArticle = page.url.split("/")[1] and page.inputPath.split("/")[3] === "articles" %}
{% set isDecouverte = page.url.split("/")[1] === "decouverte" and page.url.split("/")[2] %}
{% set isIndexDecouverte = page.url.split("/")[1] === "decouverte" and page.url.split("/")[1] %}
{% set isLiens = page.url.split("/")[1] === "liens" and page.url.split("/")[2] %}
{% set isIndexLiens = page.url.split("/")[1] === "liens" and page.url.split("/")[1] %}
{% set isAbout = page.url.split("/")[1] === "about" and page.url.split("/")[2] %}
{% set isIndexAbout = page.url.split("/")[1] === "about" and page.url.split("/")[1] %}
{% set isNewsletter = page.url.split("/")[2] === "newsletter" %}
{% set is404 = page.fileSlug === "404" %}
{% from 'macros/url.njk' import categoryUrl with context %}
{% from 'macros/title.njk' import getLinkTitle with context %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    {% block head %}
      {% include "head.njk" %}
    {% endblock %}
  </head>
  <body {% if is404 %}onload="makeNotice()" class="p404"{% endif %}>

    {% block header %}
      {% include "header.njk" %}
    {% endblock %}

    {% block main %}
      <main>
          <h1>{{ title }}</h1>
          {% include "breadcrumb.njk" %}
          {{ content | safe }}
          {# TODO: include bottomnav #}
          {% set nextPost = collections.article | getPreviousCollectionItem(page) %}
          {% set previousPost = collections.article | getNextCollectionItem(page) %}
          {%- if previousPost or nextPost -%}
            <hr>
            <div class="bothside">
                <p class="f16">
                  {% if isArticle %}{% if categorie %}
                    <b>➽ Thèmes abordés :</b>
                    {% for url in categorie %}
                      <i class="f16">{{ getLinkTitle(url) }}</i> ·
                    {% endfor %}
                  {% endif %}{% endif %}</p>
                <p class="f16">

                </p>
            </div>
            {% if isArticle %}{% if categorie %}
              <hr>
            {% endif %}{% endif %}
            <div class="bothside">
                <p class="f16">{% if previousPost %}<b>←</b> <a class='text-sky-600' href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}</p>
                <p class="f16">{% if nextPost %}<a class='text-sky-600' href="{{ nextPost.url }}">{{ nextPost.data.title }}</a> <b>→</b>{% endif %}</p>
            </div>
          {%- endif -%}
      </main>
    {% endblock %}

    {% block footer %}
      <footer>
        <nav>
        <p class="left">
          <a href="{{ '/articles/' | url }}">articles</a><br>
          <a href="{{ '/decouverte/' | url }}">découverte</a><br>
          <a href="{{ '/liens/' | url }}">liens</a>
        </p>
        </nav>
        {% if page.url !== "/about/" %}
          <p>
            <a href="{{ '/about/' | url }}" rel="author">à propos de reunionweb</a> | <a href="{{ '/about/newsletter/' | url }}" rel="newsletter">newsletter</a>
          </p>
        {% endif %}
        <p>cc-by-sa (<a href="https://artlibre.org/">Licence Art Libre 1.3</a>) Alix Guillard 1997 - {% year %}</p>

      </footer>
    {% endblock %}

  </body>
</html>
