{# SEO: savoir ou on est pour changer les titres #}
{% set isArticle = page.url.split("/")[1] and page.inputPath.split("/")[3] === "articles" %}
{% set isDecouverte = page.url.split("/")[1] === "decouverte" and page.url.split("/")[2] %}
{% set isIndexDecouverte = page.url.split("/")[1] === "decouverte" and page.url.split("/")[1] %}
{% set isLiens = page.url.split("/")[1] === "liens" and page.url.split("/")[2] %}
{% set isIndexLiens = page.url.split("/")[1] === "liens" and page.url.split("/")[1] %}
{% set isAbout = page.url.split("/")[1] === "about" and page.url.split("/")[2] %}
{% set isIndexAbout = page.url.split("/")[1] === "about" and page.url.split("/")[1] %}
{% set isNewsletter = page.url.split("/")[2] === "newsletter" %}
{% set is404 = page.fileSlug === "404" %}
{% from 'macros/url.njk' import categoryUrl with context %}
{% from 'macros/title.njk' import getLinkTitle with context %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    {% block head %}
      {% include "head.njk" %}
    {% endblock %}
  </head>
  <body {% if is404 %}onload="makeNotice()" class="p404"{% endif %}>

    {% block header %}
      {% include "header.njk" %}
    {% endblock %}

    {% block main %}
      <main>
          <h1>{{ title }}</h1>
          {% include "breadcrumb.njk" %}
          {{ content | safe }}
          {# TODO: include bottomnav #}
          {% set nextPost = collections.article | getPreviousCollectionItem(page) %}
          {% set previousPost = collections.article | getNextCollectionItem(page) %}
          {%- if previousPost or nextPost -%}
            <hr>
            <div class="bothside">
                <p class="f16">
                  {% if isArticle %}{% if categorie %}
                    <b>➽ Thèmes abordés :</b>
                    {% for url in categorie %}
                      <i class="f16">{{ getLinkTitle(url) }}</i> ·
                    {% endfor %}
                  {% endif %}{% endif %}</p>
                <p class="f16">

                </p>
            </div>
            {% if isArticle %}{% if categorie %}
              <hr>
            {% endif %}{% endif %}
            <div class="bothside">
                <p class="f16">{% if previousPost %}<b>←</b> <a class='text-sky-600' href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}</p>
                <p class="f16">{% if nextPost %}<a class='text-sky-600' href="{{ nextPost.url }}">{{ nextPost.data.title }}</a> <b>→</b>{% endif %}</p>
            </div>
          {%- endif -%}
      </main>
    {% endblock %}

    {% if isArticle %}
      {% set css %}
        {% include "includes/css/drawer.css" %}
      {% endset %}
      <style>{{ css | cssmin | safe }}</style>

      <script type="text/javascript" src="/js/drawer.js" defer></script>

        <!-- Bottom drawer container with transition -->
        <div id="bottomDrawer"
          class="drawer translate-y-0">
          <button type="button"
            id="closeButton"
            style="float:right;">
            ×
          </button>
          <div>
            <!-- Drawer content -->
            <h2>Abonnez-vous</h2>
            <p>Recevez les mises à jour par mail.</p>
<form data-v-291e79e2="" action="https://api.follow.it/subscription-form/U0t4S2p5UWJmL1F0NFNuRzhXeVJpYjNvcVd5OTYxNmVldWdOZ21rUUdMMGtleVIyOFJDZjVTdm1aUENocFBKZXJ5TVlXbXI5NExMVU5pTnpJQ0xOY1o4Y0RDYTRFS3pSUTVvSkNnRFhDU1hucDF5Y0FrZDlyd29aRUkrL09JbHl8WjJISUJNQ2VHY1A3NG5WNGljQnhFSlF2aTBLNUVTY0ZHTWpLMk5vbkY4VT0=/8" method="post"><div data-v-291e79e2="" class="form-preview"  style="display:inline;">
<div data-v-291e79e2="" class="preview-input-field"   style="display:inline-block;">
  <input data-v-291e79e2="" type="email" name="email" required="required" placeholder="votre adresse mail" spellcheck="false" style="text-transform: none !important; color: rgb(0, 0, 0); text-align: left; background-color: rgb(255, 255, 255);
  border: 2px solid #006fcf;
  border-right: 0;
  border-radius: 1em 0 0 1em;
  padding: 0.3em 0 0.3em 0.5em ;
  ">
</div>
<div data-v-291e79e2="" class="preview-submit-button"   style="display:inline-block;">
    <button data-v-291e79e2="" type="submit" style="
    background-color: #006fcf;
    border: 2px solid #006fcf;
    border-left: 0;
    border-radius: 0 1em 1em 0;
    padding: 0.3em 0.5em;
    color: white;
    font-weight: bold;
    margin-left: -5px;
    ">Subscribe</button>
  </div>
</div>
</form>
<p style="font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: .04em;
><a href="https://follow.it" class="powered-by-line">Powered by <img src="https://follow.it/static/img/colored-logo.svg" alt="follow.it" height="17px"/></a>
</p>

          </div>
        </div>
        <!-- END Bottom drawer container with transition -->
    {% endif %}

    {% block footer %}
      <footer>
        {% if page.url !== "/about/" %}
          <p>
            <a href="{{ '/about/' | url }}" rel="author">À propos de reunionweb</a> | <a href="{{ '/about/newsletter/' | url }}" rel="newsletter">newsletter</a>
          </p>
        {% endif %}
        {% if page.url !== "/" %}
          <nav>
            <p>
              <a href="{{ '/articles/' | url }}">articles</a> | 
              <a href="{{ '/decouverte/' | url }}">découverte</a> |
              <a href="{{ '/liens/' | url }}">liens</a>
            </p>
          </nav>
        {% endif %}
        <p>cc-by-sa Alix Guillard 1997 - {% year %}</p>
      </footer>
    {% endblock %}

  </body>
</html>
