{% macro gettitle(url) %}
    {% for post in collections.all %}
        {% if url === post.url %}
            {{post.data.short or post.data.title}}
        {% endif %}
        {% if post.date and url === post.date %}
              article
        {% endif %}
    {% endfor %}
    {% for lien in categories %}
        {% if url === lien.slug %}
            {{ lien.title }}
        {% endif %}
    {% endfor %}
{% endmacro %}

<div class="f-08">
    {% if page.url.split("/")[1] === "decouverte" and page.url.split("/")[2] %}
        <a href="/decouverte/">Découverte</a>
        {% set title2 = gettitle('/decouverte/'+page.url.split("/")[2]+'/') %}
        {% if not page.url.split("/")[3] %}
         > {{ title2 }}
        {% elif not page.url.split("/")[4] %}
            > <a href="/decouverte/{{ page.url.split("/")[2] }}/">{{ title2 }}</a>
            > {{ gettitle(page.url) }}
        {% else %}
            {% set title3 = gettitle('/decouverte/'+page.url.split("/")[2]+'/'+page.url.split("/")[3]+'/') %}
            > <a href="/decouverte/{{ page.url.split("/")[2] }}/">{{ title2 }}</a>
            > <a href="/decouverte/{{ page.url.split("/")[2] }}/{{ page.url.split("/")[3] }}/">{{ title3 }}</a>
            > {{ gettitle(page.url) }}
        {% endif %}
    {% elif page.url.split("/")[1] === "articles" and page.url.split("/")[2] %}
      <p class="right">
        {% set currentPost = collections.article | getCollectionItem(page) %}
        {% if currentPost %}
            {{ currentPost.date.getFullYear() }}
        {% endif %}

        {# collection is inverted #}
        {% set nextPost = collections.article | getPreviousCollectionItem(page) %}
        {% set previousPost = collections.article | getNextCollectionItem(page) %}
        {% if previousPost %}<br>← <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}
        {% if nextPost %}<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a> →{% endif %}
        <br> 
      </p>
    {% elif page.url.split("/")[1] === "liens" and page.url.split("/")[2] %}
      <a href="/liens/">Annuaire des liens</a>
      {% set title2 = gettitle(page.url.split('/')[2]) %}
      {% if not page.url.split("/")[3] %}
       > {{ title2 }}
      {% elif not page.url.split("/")[4] %}
          > <a href="/{{ geturl(page.url.split("/")[2]) | trim }}">{{ title2 }}</a>
          > {{ gettitle(page.url.split("/")[3]) }}
          {% else %}
          {% set title3 = gettitle(page.url.split("/")[3]) %}
          > <a href="/{{ geturl(page.url.split("/")[2]) | trim }}">{{ title2 }}</a>
          > <a href="/{{ geturl(page.url.split("/")[3]) | trim }}">{{ title3 }}</a>
          > {{ gettitle(page.url.split("/")[4]) }}
      {% endif %}
    {% endif %}

</div>
