{% extends 'base.njk' %}

{% set js %}
  {% include "includes/js/emailform.js" %}
{% endset %}
{% set css %}
  {% include "includes/css/email.css" %}
{% endset %}

{% block head %}
  {% include "head.njk" %}
  <style>{{ css | cssmin | safe }}</style>
  <script>{{ js | jsmin | safe }}</script>
{% endblock %}
