<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ meta.url }}" xml:lang="{{ meta.language }}">
  <title>{{ meta.title }}</title>
  <subtitle>{{ meta.subtitle }}</subtitle>
  <link href="{{ permalink | absoluteUrl(meta.url) }}" rel="self"/>
  <link href="{{ meta.url }}/"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ meta.url }}/</id>
  <author>
    <name>{{ meta.author.name }}</name>
  </author>
  {%- for post in collections.article %}
  {%- set absolutePostUrl = post.url | absoluteUrl(meta.url) %}
    <entry xml:lang="{{ meta.language }}">
      <title>{{ post.data.title }}</title>
      <link  rel="alternate" type="text/html" href="{{ absolutePostUrl }}"/>
      <published>{{ post.date | dateToRfc3339 }}</published>
      <updated>{{ post.date | dateToRfc3339 }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content type="html">
        {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl)}}
      </content>
    </entry>
  {%- endfor %}
</feed>
