{% extends 'base.njk' %}
    {% block head %}
      {% include "head.njk" %}
      {% set css %}
        {% include "includes/css/float-panel.css" %}
        {% include "includes/css/cssbox.css" %}
      {% endset %}
      {% set js %}
        {% include "includes/js/float-panel.js" %}
        {% include "includes/js/gouzou-urls.js" %}
      {% endset %}
      <style>{{ css | cssmin | safe }}</style>
      <script>{{ js | jsmin | safe }}</script>
    {% endblock %}

    {% block main %}
      <main>
        <h1>{{ title }}</h1>
        <div>{% include "breadcrumb.njk" %}</div>
        {{ content | safe }}
        {% if gouzoulist %}
        {% for gouzou in gouzoulist %}
        {% if loop.index < 200 %}
        {% set gouzouslug = gouzoulist[loop.index-1].title | slugify %}
        <div class="cssbox{% if loop.index > 6 %} slideanim s{{ [1,2,3,4] | random }}{% endif %}">
            <a href="#{{ gouzouslug }}" id="{{ gouzouslug }}" title="{{gouzou.title}}" onclick="rewrite_url('{{gouzou.title}}')">
              {% gzthumb gouzou.file, gouzou.title %}
              {# <img src="{{gouzou.thumb}}" class="cssbox_thumb" alt="{{ gouzou.title }}" width="130" > #}
              {# <span >TOTO</span> #}
              {# TODO: corriger lien vers la source #}
            <span class="cssbox_full">
                <h2>{{ gouzou.title }}</h2>
                <span>
                    <img src="/img/gouzou/{{ gouzou.file }}" alt="{{ gouzou.title }}" /><br>
                    {% if gouzou.license %}{{ gouzou.license }} {% endif %}
                    {% if gouzou.author %}
                        {% if gouzou.url %}<span onclick="location='{{ gouzou.url }}'" class="link">{% endif %}
                            {{ gouzou.author }}
                        {% if gouzou.url %}</span>{% endif %}
                    {% endif %}
                    {% if gouzou.flag %} {{ gouzou.flag }} {% endif %} {{ gouzou.legend }}
                 </span>
            </span>
            </a>
            <a class="cssbox_close" href="#void" onclick="rewrite_url('Galerie des Gouzou de Jace')"></a>
            {% if loop.first == false %}<a class="cssbox_prev"
              href="#{{ gouzoulist[loop.index-2].title | slugify }}"
              onclick="rewrite_url('{{ gouzoulist[loop.index-2].title }}')">←</a> {% endif %}
            {% if loop.last == false %}<a class="cssbox_next"
              href="#{{ gouzoulist[loop.index].title | slugify}}"
              onclick="rewrite_url('{{ gouzoulist[loop.index].title }}')">→</a>{% endif %}
            <div class="title">{{ gouzou.title }}</div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

      </main>
    {% endblock %}
