    <header>
      <div id="titre">
          <div class="h1">{% if homepage %}Reunionweb{% else %}<a href="{{ '/' | url }}">Reunionweb</a>{% endif %}</div>
          <div class="h2">{% if homepage %}L'île de la Réunion à travers ses sites web{% else %}<a href="{{ '/' | url }}">L'île de la Réunion à travers ses sites web</a>{% endif %}</div>
      </div>

      <div id="search">
      <!-- SiteSearch Google -->
      <script>
        (function() {
          var cx = 'partner-pub-6770013384586203:6910456247';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
        })();
      </script>
      <gcse:searchbox-only></gcse:searchbox-only>
      <!-- SiteSearch Google Fin -->
      </div>

    </header>
