<meta charSet="utf-8"/>
<meta name="author" content="{{ meta.author.name }}" />
<meta name="HandheldFriendly" content="True" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="title" content="{{ title }}">
<meta name="description" content="{{ description }}">
<link rel="icon" type="image/png" href="{{ '/favicon.ico' | url }}" />
{% if page.fileSlug === "404" %}
{% elif page.url.split("/")[3] === "gouzou" and page.url.split("/")[4] %}{% else %}
<link rel="canonical" href="{{ meta.url }}{{ page.data.permalink or page.url }}" />
{% endif %}
<title>
  {% if title | length > 57 %}
    {{title}}
  {% elif isDecouverte %}
    {% if 'Réunion' in title %}
    {{title}} | Reunionweb
    {% else %}
    {{title}} | Découvrez la Réunion
    {% endif %}
  {% elif isNewsletter %}
        {{title}} | Abonnez-vous
  {% elif isArticle or isLiens or isAbout %}
    {{title}} | Reunionweb
  {% elif isIndexLiens %}
      {{title}} de Reunionweb
  {% else %}
    {{title}}
  {% endif %}
</title>
{% if page.fileSlug === "404" %}{% else %}
  <meta itemprop="name" content="{{ title }}">
  <meta itemprop="description" content="{{ description }}">
  <meta itemprop="image" content="{{ meta.url }}{% getOGImageUri page, image %}">
  <meta property="og:title" content="{{ title }}">
  {%- if schema -%}
  <meta property="og:type" content="{{schema}}">
  {%- elif page.url.split("/")[1] === "decouverte" or page.date -%}
  <meta property="og:type" content="article">
  {%- else -%}
  <meta property="og:type" content="website">
  {%- endif -%}
  <meta property="og:url" content="{{ meta.url }}{{ page.data.permalink or page.url }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:site_name" content="{{ meta.title }}">
  <meta property="og:locale" content="fr_FR">
  <meta property="og:image" content="{{ meta.url }}{% getOGImageUri page, image %}">

  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:creator" content="@{{ meta.author.twitter }}">
  <meta name="twitter:image:src" content="{{ meta.url }}{% getOGImageUri page, image %}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="follow.it-verification-code" content="ZUuGs9KZHmKD4vVufr6h"/>
{% endif %}

<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ "feed.xml" | absoluteUrl(meta.url) }}" />
<link rel="stylesheet" href="{{ '/styles.css' | url }}">

{% set matomo %}{% include "includes/js/matomo.js" %}{% endset %}
<script>{{ matomo | jsmin | safe }}</script>
