    <header>
      <div id="titre">
          <div class="h1">{% if page.fileSlug %}<a href="{{ '/' | url }}">{{ meta.title }}</a>{% else %}{{ meta.title }}{% endif %}</div>
          <div class="h2">{% if page.fileSlug %}<a href="{{ '/' | url }}">{{ meta.subtitle }}</a>{% else %}{{ meta.subtitle }}{% endif %}</div>
      </div>
      {% if is404 %}{% else %}
        <div class="search">
          <input id="search" 
            title="recherche"
            placeholder="recherche…" 
            type="search"
            aria-label="Rechercher sur reunionweb"
          >
          <span>🔍</span>
        </div>
      {% endif %}
    </header>
    {% if is404 %}
    {% else %}
      <script type="text/javascript" src="/js/searchinput.min.js" defer></script>
    {% endif %}
