{% extends 'base.njk' %}

    {% block main %}
      <main>
        {% for page in collections.article %}
          {% if (loop.index < 2) %}
        <h1><a href="{{page.url}}">{{ page.data.title }}</a></h1>
        <p>{{ page.templateContent | safe | truncate(400) }}</p>
          {% endif %}
        {% endfor %}
        <p class="right">…<a href="{{ page.url }}">lire la suite</a></p>

        <h3><a href="{{ "articles" | url }}">Voir tous les articles</a></h3>

        <h1>Découvrez l'île de la Réunion</h1>

        <div class="twocolumns">
        {% for post in collections.all %}
            {% if post.url.split("/")[1] === "decouverte" and post.url.split("/")[2] and not post.url.split("/")[3] %}
        <p>
          <b><a href="{{ post.url }}">{{ post.data.hometitle }}</a></b><br>
          {{ post.data.homedesc }}
        </p>
            {% endif %}
        {% endfor %}
        </div>

        <div class="clear"></div>
      </main>
    {% endblock %}
