{% macro geturl(categorie) %}
{% for item in categories %}
{% if item.slug === categorie %}
    {{ geturl(item.parent) | trim }}{{ item.slug }}/
{% endif %}
{% endfor %}
{% endmacro %}

{% macro getarticle(url) %}
    {% for post in collections.all %}
        {% if post.data.date and url === post.data.date.split("-").join('') %}
            <a href="{{ post.data.permalink }}">{{ post.data.title }}</a>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro showCategorie(lien) %}
<h3><a href="/{{ geturl(lien.slug) | trim }}">{{ lien.title }}</a></h3>
<p>{{ lien.description }}</p>
{% endmacro %}

{% extends 'base.njk' %}

    {% block main %}
      <main>
        <h1>{{ title }}</h1>
        <p>{% include "breadcrumb.njk" %}</p>
        <h4>{{ description }}</h4>

        {# sous catégories #}
        {% set subcategories = categories | getCategoriesFromParent(slug) %}
        {% if subcategories.length > 0 %}
          {% if subcategories.length > 1 %}
             {% if not slug === "liens" %}<h2>Sous catégories</h2>{% endif %}
            <div class="twocolumns">
          {% else %}
            {% if not slug === "liens" %}<h2>Sous catégorie</h2>{% endif %}
          {% endif %}
          {%- for lien in subcategories %}
            {{ showCategorie(lien) }}
          {% endfor %}
          {% if subcategories.length > 1 %}</div>{% endif %}
        {% endif %}

        {# liens #}
        {% set newLiens = liens | getLinksFromParent(slug) %}
        {% if newLiens.length > 0 %}
          <h2>Sites web</h2>
          {% for lien in newLiens %}
            <div class="lien">
              <img src="http://www.robothumb.com/src/?url={{ lien.url }}&size=100x65&alt=http%3A%2F%2Freunionweb.org%2Fimg%2Fnon-dispo.png" alt="site {{ lien.title }}" width="120" height="90">
              <p>
                <b><a href="{{ lien.url }}" class="ext">{{ lien.title }}</a></b><br>
                <span class="url f-08">{{ lien.url }}</span><br>
                {{ lien.description }}<br><br>
                {% if lien.article.length > 0 %}
                  {% if lien.article.length > 1 %}
                    <i class="f-09">Articles qui en parlent :</i><br>
                  {% else %}
                    <i class="f-09">Article qui en parle :</i><br>
                  {% endif %}
                  {% for article in lien.article %}
                  ➽ <i class="f-09">{{ getarticle(article) }}</i><br>
                  {% endfor %}
                {% endif %}
              </p>
            </div>
          {% endfor %}
        {% endif %}

        {# Catégories associées #}
        {% set assocat = categories | getCategoryFromSlug(slug) %}
        {% if assocat.associe %}
          {% if assocat.associe.length > 1 %}
            <h2>Catégories associées</h2>
            <div class="twocolumns">
          {% else %}
            <h2>Catégorie associée</h2>
          {% endif %}
          {%- for aslug in assocat.associe %}
            {% set lien =  categories | getCategoryFromSlug(aslug) %}
            {{ showCategorie(lien) }}
          {% endfor %}
          {% if assocat.associe.length > 1 %}</div>{% endif %}
        {% endif %}

      </main>
    {% endblock %}
