<section class="mailform">
  <form method="post" action="https://lm.chim.re/subscription/form" class="listmonk-form">
    <div style="display:inline-block;">
      <input type="email" name="email" required="required" placeholder="votre adresse mail" data-validation-required-message="votre adresse mail" data-validation-validemail-message="cette adresse n'est pas bonne"
      style="text-transform: none !important; color: rgb(0, 0, 0); text-align: left; background-color: rgb(255, 255, 255);
      border: 2px solid #006FCF;
      border-right: 0;
      border-radius: 1em 0 0 1em;
      padding: 0.3em 0 0.3em 0.5em ;
      ">
    </div>
    <input id="2abfe" type="hidden" name="l" checked value="2abfeb59-a78d-4de0-a2d6-fc56a9dbff7e" />
    <altcha-widget challengeurl="https://lm.chim.re/api/captcha/altcha"></altcha-widget>
    <script type="module" src="https://lm.chim.re/public/static/altcha.umd.js" async defer></script>
    <div style="display:inline-block;">
        <input type="submit" value="Souscrire " style="
        background-color: #006FCF;
        border: 2px solid #006FCF;
        border-left: 0;
        border-radius: 0 1em 1em 0;
        padding: 0.3em 1.25em;
        color: white;
        font-weight: bold;
        margin-left: -5px;
        cursor: pointer;
        ">
    </div>
  </form>
</section>