{% extends 'base.njk' %}
{% block head %}
  {% include "head.njk" %}
  {% set css %}
    {% include "includes/css/search.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
{% endblock %}

{% block main %}
  <main>
    <h1>{{ title }}</h1>

    <h4>Recherchez un mot, un nom, une phrase dans les articles du site</h4>

    <p class="field">
      <input type="search" placeholder="votre recherche..." id="search">
    </p>
    <ol id="searchResults"></ol>
    <div id="noResultsFound" style="display: none">
      <p>Aucun résultat.</p>
    </div>
  </main>

  {% set js %}
    {% include "includes/js/search.js" %}
    {% include "includes/js/elasticlunr.min.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>

{% endblock %}
